In [2]:
import pymysql
import pandas as pd 
import numpy as np
import glob  
import warnings

from datetime import datetime, timedelta

pd.set_option("display.max_columns", None)
warnings.filterwarnings('ignore')

connection = pymysql.connect(host="10.0.6.2",
    user="planejamento",
    password="@Planejamento!123",
    database="atn"
)

query =f"""
    SELECT DATA,DOCUMENTO,NOME,CONCAT(DDD,TELEFONE) AS TELEFONE
    FROM mailing_abandono_tim a
    WHERE a.`DATA`= '2023-07-04'
    """

# Usa a função read_sql() do Pandas para executar a consulta e armazenar
resp_tim_cob = pd.read_sql(query, connection)

connection.close()
resp_tim_cob

             DATA  DOCUMENTO                              NOME     TELEFONE
0      2023-07-04  154344477                rogerio sene pizzo  18988043659
1      2023-07-04  152241242                     v g simoes me   1938670600
2      2023-07-04  153634112        marilda dos santos marques  11981998136
3      2023-07-04  154812889                         jose lima  11982307588
4      2023-07-04  153613915  ailton ribeiro dos santos junior  11946092734
...           ...        ...                               ...          ...
11470  2023-07-04  152253225          dione marques de alencar  61995025263
11471  2023-07-04  152673097    eliana de souza rocha valentin  11950089291
11472  2023-07-04  152650972             valdecira ramos neves  21997140760
11473  2023-07-04  150793424           marcos goncalo da silva  37988523928
11474  2023-07-04  150243929         rosileia campos goncalves  98981147928

[11475 rows x 4 columns]

In [3]:
resp_tim_cob.to_csv(r'R:\TI\TELEFONIA\Mailings Prontos\2023\Julho\5\Jorgin da Clock/resp_tim_cob_0507.csv',sep=';',index=False)